[data-theme="theme3"] {
    .navbar-landing {
        background: rgba(58, 68, 75, 1);
        &.is-sticky {
            background: rgba(58, 68, 75, 1);
        }
    }

    .product-content {
        padding: 120px 0;
    }

    .avatar-xxl {
        height: 10.5rem;
        width: 10.5rem;
    }

    .bg-success-subtle {
        background-color: #fff !important;
        border: 1px solid #1F7101;
    }
}
